@using Digital.BrewPub.Features.Brewery
@model BrewerySearchViewModel

<h2>Breweries in Detroit</h2>
<ul>
    @{int breweryIndex = 0; }
    @foreach(var brewery in Model.Breweries)
    {
        <li>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-5">
                            <h3>@brewery.Name</h3>
                        </div>
                        <div class="col-md-5 col-md-offset-1 bottom">
                            <h5><a class="btn btn-default" data-toggle="modal" data-target="#note-@brewery.NaturalKey">Add Note</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <h4>@brewery.StreetAddress</h4>  
            <ul>
                @foreach(var note in brewery.Notes){
                    <li>
                        @if (note.IsEditable)
                        {
                      
                            <a   data-toggle="modal" data-target="#note-@brewery.NaturalKey">@note.Text</a>
                        }
                        else
                        {
                            <p>@note.Text</p>

                        }
                    </li>
                }
            </ul>
            <div id="note-@brewery.NaturalKey" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form asp-controller="Note" asp-action="Post" asp-route-brewery="@brewery.NaturalKey">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Make a Note about @brewery.Name</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <textarea class="form-control" id="Text" name="Text">@brewery.Notes.Where(x => x.IsEditable).Select(n => n.Text).FirstOrDefault()</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </li>
        breweryIndex++;
    }
</ul>


